@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./image_2f7ca5d1.jpeg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    font-family: "Lato", sans-serif;
}

body::before {
    position: absolute;
    content: "";
    min-height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.2);
}

#box {
    min-width: 40vw;
	max-width: 50vw;
    min-height: 90vh;
    background: rgba(255, 255, 255, 0.41);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.241);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: space-between;
    padding: 2rem;
}

.logo {
    width: 15%;
}

#box h1 {
    text-align: center;
    font-size: 2.7rem;
    font-family: "Lato", sans-serif;
    /* font-weight: 100; */
	margin-bottom: 1rem;
}

.stack {
    flex-basis: 100%;
    align-self: center;
}

#img {
    text-align: center; 
    font-size: 2rem;
    object-fit: contain;
    text-shadow: 1px 1px 2px #fbea1b; 
    color:#fff;
}

.avatar {
    background-color: black;
    border-radius: 50%;
    width: 15vw;
	margin-bottom: 1rem;
    height: 15vw;
}

.information p {
	display: inline-block;
}

.information {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-evenly;
	text-align: center;
}

.fieldBox {
	display: flex;
	flex-direction: column;
	flex: 1 0 33%;
	margin-bottom: 1.5rem;
}

.small-heading {
	font-family: cursive;
    font-weight: bolder;
}

.filled-text {

	font-size: 1.5rem;
}

.btn {
	padding: 1.5rem;
	border: transparent;
	border-radius: 5rem;
	background-color: black;
	color: white;

	font-size: 1.2rem;
	transition: 0.2s;
}

.btn:hover {
	cursor: pointer;
	background-color: #434343;
    color:#000;
}

em {
	
	font-size: 1rem;
	color: rgba(50,138,255,0.2);
	
}